/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #004bab, #299dd2);
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

main {
    padding: 20px;
    background: linear-gradient(to right, #004bab, #299dd2);
    color: #ffffff;
}

footer {
    background: linear-gradient(to right, #004bab, #299dd2);
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #004bab;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #299dd2;
}

/* Estilos específicos para a página de resultados */
.resultados header,
.resultados main,
.resultados footer {
    background-color: #ffffff;
    color: #000000;
}

/* Estilos específicos para a página de teste */
.teste-saliva-pro {
    background: linear-gradient(to right, #004bab, #299dd2);
    padding: 20px;
}

/* Estilos específicos para a página inicial */
.exame-salivar {
    background: linear-gradient(to right, #004bab, #299dd2);
    padding: 20px;
}
