/* Adicione seus estilos aqui */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

.header {
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

.logo-container img {
    width: 200px; /* Ajuste conforme necessário */
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.intro {
    text-align: center;
}

.intro h1 {
    color: #3157A4;
}

.intro button {
    background-color: #3157A4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.form {
    text-align: center;
}

.form h2 {
    color: #3157A4;
}

.form button {
    background-color: #3157A4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.patient-info {
    border: 2px solid #3157A4;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.results {
    border: 2px solid #3157A4;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.results p {
    margin-bottom: 10px;
}

button {
    margin-right: 10px;
    background-color: #3157A4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}
